---
interface Props {
    title: string;
	stylesheet?: string;
}

const { title = "Base Chat" }: Props = Astro.props;
const { stylesheet = "Base Chat" }: Props = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href={stylesheet}>
		<title>{title}</title>
	</head>
	<body>
		<div class="grid-overlay"/>
		<slot></slot>
	</body>
</html>
