---
import MainInfo from "/entities/header/ui/MainInfo";
import { MidJourneyButton } from "/entities/header/ui";
---

<div class="info-container right">
  <div class="intro-text-container right">
    <MainInfo
      title="Генерация Изображений Через Midjourney"
      description="MidJourney - инструмент для создания уникальных изображений. Наши алгоритмы позволяют вам воплотить в жизнь вашу идею. Начните генерировать изображения с MidJourney прямо сейчас! Кликните на кнопку ниже, чтобы начать творить."
      client:visible
    >
      <MidJourneyButton />
    </MainInfo>
  </div>
</div>
