---
import MainInfo from "/entities/header/ui/MainInfo";
import { StartButton } from "/entities/header/ui";
---

<div class="info-container left">
  <div class="intro-text-container left">
    <MainInfo client:visible>
      <StartButton />
    </MainInfo>
    <div></div>
  </div>
</div>
