@import url('./components/header.scss');
@import url('./components/info.scss');
@import url('./components/footer.scss');
@import url('./components/chat.scss');

.blue-button {
    display: flex;
    position: relative;

    background-color: #1C64F2;
    color: #fff;

    border: 1px solid transparent;
    border-radius: 8px;

    padding: 10px 18px;
    gap: 10px;
}