@import url('./components/header.scss');
@import url('./components/info.scss');
@import url('./components/footer.scss');
@import url('./components/chat.scss');

.blue-button {
    display: flex;
    position: relative;

    background-color: #1C64F2;
    color: #fff;
    font-size: inherit;

    border: 1px solid transparent;
    border-radius: 5px;

    min-height: 20px;
    line-height: 20px;

    text-align: center;
    text-justify: center;

    padding-left: 10px;
    padding-right: 10px;

    &:hover {
        opacity: 0.8;
    }
}

.invisible-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    margin: 0;
    padding: 0;

    color: #ffffff;
    text-decoration: none;

    &:hover {
        color: #4251db;
    }
}

.interceptor-line {
    height: 40%;
    margin: 10px;
    margin-left: 20px;
    border-right: 1px solid #5a689654;
}

.arrow-container {
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3 ease-in-out;

    &.rotate-up {
        transform: rotateZ(180deg);
    }

    &.rotate-right {
        transform: rotateZ(90deg);
    }

    &.rotate-down {
        transform: rotateZ(0deg);
    }

    &.rotate-left {
        transform: rotateZ(270deg);
    }
}