// SCSS breakpoints for responsive design

// Small devices (mobile)
@media (max-width: 576px) {
    header {
        width: 100%;
    }
    section {
        flex-direction: column;
        width: 100%;
        padding: 0 4vh;
        margin: 0;
    }
    footer {
        width: 100% !important;
        
        section {
            padding-bottom: 20px;
        }
    }
    .info-container {
        display: flex;
        text-align: center !important;
        &.left {
            flex-direction: row;
            text-align: center;
        }

        &.right {
            flex-direction: row-reverse;
            text-align: center;
        }
        .intro-text-container {
            justify-content: center !important;
            align-items: center !important;
        }
    }
    .capabilities-grid {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
  }
  
  // Medium devices (tablets)
  @media (min-width: 577px) and (max-width: 768px) {
    // Custom styles for tablets
  }
  
  // Large devices (desktops)
  @media (min-width: 769px) and (max-width: 992px) {
    // Custom styles for small desktops or laptops
  }
  
  // Extra large devices (large desktops)
  @media (min-width: 993px) {
    // Custom styles for large desktops
  }
  