.footer {
    display: flex;
    justify-content: space-between;
    background-color: #1a253a;
    font-size: 0.6rem;
    padding: 0 18vw;
    width: 64%;

    section {
        margin-top: 15px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        .footer-section {
            cursor: pointer;
    
            &.logo-section {
                margin-right: 10vw;
            }
    
            h3 {
                font-size: 0.7rem;
                margin-bottom: 12px;
                color: #575656;
            }
    
            ul {
                list-style: none;
                padding: 0;
    
                li {
                    margin-bottom: 5px;
                }
            }
    
            img {
                margin-top: 10px;
                width: 50px; /* Adjust size as needed */
            }
        }
    }
}
