.footer {
    display: flex;
    justify-content: space-between;
    background-color: #1a253a;
    flex-wrap: wrap;
    font-size: 0.8rem;
    padding: 0 16vw;

    .footer-section {
        flex: 1;
        padding: 10px;

        &.logo-section {
            margin-right: 10vw;
        }

        h3 {
            font-size: 1rem;
            margin-bottom: 10px;
            color: #575656;
        }

        ul {
            list-style: none;
            padding: 0;

            li {
                margin-bottom: 5px;
            }
        }

        img {
            margin-top: 10px;
            width: 50px; /* Adjust size as needed */
        }

        p {
            margin: 5px 0;
        }
    }
}
