header {
    display: flex;
    position: fixed;

    top: 0;
    left: 0;
    right: 0;

    background-color: #15172b;
    padding: 0 16%;
    height: 9vh;
    width: 100%;

    .container {
        display: flex;
        position: relative;
        align-items: center;
        flex: 1;
        nav {
            display: flex;
            position: inherit;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            flex: 1;

            ul {
                list-style: none;
                display: flex;
                align-items: flex-start;
                padding: 0;
                margin: 0;
                float: left;

                li {
                    margin: 0 10px;

                    a {
                        display: flex;
                        color: #ffffff;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .language-auth {
        display: flex;
        align-items: flex-end;

        button {
            background-color: #1e2139;
            color: #ffffff;
            border: none;
            padding: 10px 20px;
            margin-left: 10px;
            cursor: pointer;
        }
    }
}