.upper-info-block {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    min-height: 76vh;
    padding: 0 18vw;
    margin-top: 1vh;

    .info-container {
        flex: 0.95;
        margin-bottom: 10%;

        &.left {
            flex-direction: row;
            text-align: left;
        }

        &.right {
            flex-direction: row-reverse;
            text-align: right;
        }

        .intro-text-container {
            display: flex;
            flex-direction: column;

            text-align: inherit;

            &.left {
                padding-right: 20px;
                justify-content: flex-start;
                align-items: flex-start;
            }

            &.right {
                padding-left: 20px;
                justify-content: flex-end;
                align-items: flex-end;
            }

            .intro-title {
                color: #fff;
                font-size: 1.8rem;
                font-weight: 700;
                margin-bottom: 0.3rem;
            }

            .intro-description {
                font-size: 0.75rem;
                font-weight: 300;
                margin-bottom: 2rem;
            }
        }
    }

    .capabilities-container {
        flex: 1;

        .title {
            text-align: center;
            width: 100%;
            height: 40px;
            font-size: 1.4rem;

            justify-content: center;
            margin-bottom: 15px;
        }

        .capabilities-grid {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;

            .capability-card {
                background: linear-gradient(-20deg, #040d332d 60%, #051a7552 80%, #1c63f248 100%);
                background-size: 300%;
                padding: 20px;
                flex: 1 1 calc(33.333% - 20px);
                box-sizing: border-box;

                border: 1px solid #051a752c;
                border-radius: 10px;

                .capability-title {
                    font-size: 1em;
                    margin-top: 0;
                    font-weight: 800;
                }

                .capability-description {
                    color: #ffffffb4;
                    font-size: 0.8rem;
                    margin: 10px 0 0;
                }
            }
        }
    }

}

.image-gallery {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    flex: 1;

    .image-item {
        display: flex;
        position: relative;
        overflow: hidden;
        border-radius: 10px;


        img {
            display: block;
            max-width: 100%;
            height: auto;
            transition: transform 0.3s ease;
            border-radius: 10px;
        }
    }
}