---
import { BotHubLogo } from "/shared/ui";
---

<footer class="footer">
    <section>
        <div class="footer-section logo-section">
            <BotHubLogo />
            <p>ООО «Бетхаб» ОГРН 1234500016799</p>
            <p>©BotHub 2023</p>
            <p>Пользовательское соглашение</p>
        </div>
        <div class="footer-section">
            <h3>Информация</h3>
            <ul>
                <li>Главная страница</li>
                <li>Тарифы</li>
                <li>Контакты</li>
                <li>Наши возможности</li>
                <li>Модели нейросетей</li>
                <li>О Нас</li>
                <li>Для инвесторов</li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Наши продукты</h3>
            <ul>
                <li>ChatGPT для бизнеса</li>
                <li>Агрегатор нейросетей</li>
                <li>ChatGPT в Телеграм</li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Ссылки</h3>
            <ul>
                <li>Сообщество в телеграм</li>
                <li>Телеграм бот</li>
                <li>email@bothub.chat</li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Блог</h3>
            <ul>
                <li>Наш блог</li>
                <li>Habr</li>
                <li>Телеграм</li>
            </ul>
        </div>
    </section>
</footer>
