---
import { NavPanel } from "/features/header/ui";
import { BotHubLogo } from "/entities/header/ui"
---

<header>
    <div class="header container">
        <BotHubLogo/>
        <NavPanel client:load/>
    </div>
</header>