---
import { NavPanel } from "/features/header/ui";
import { BotHubLogo } from "/shared/ui"
---

<header>
    <div class="header container">
        <BotHubLogo/>
        <div class="interceptor-line"/>
        <NavPanel client:load/>
    </div>
</header>