---
import { UpperTextBlock } from "/features/info/ui"
import { Chat } from "/features/chat/ui"
---

<section class="upper-info-block">
    <div class="grid-overlay"/>
    <UpperTextBlock/>
    <Chat client:load/>
</section>